@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f5f5f5;
  --text-DefaultColor: #131313;
}

body {
  color: var(--text-DefaultColor);
  background: var(--bg-color);
}
